<h1><%=title("Guia Empresarial - #{@companies.count} empresas disponíveis") %></h1>
<div id="gallery" class="four_columns">
  <ul class="portfolio">
    <% @companies.each_with_index do |company, i| %>
    <li class="<%= 'nomargin' if ((i+1) % 4) == 0 %>">
      <figure class="featured-thumbnail">
        <a href="<%= front_company_path(company) %>" title="<%= company.name %>"><img src="<%= company.logo.url(:big) %>" width="210" alt="<%= company.name %>" /><i></i></a>
      </figure>
      <time datetime="<%= l company.created_at %>"><%= company.company_categories.pluck(:name).to_sentence %></time>
      <h3><a href="<%= front_company_path(company) %>"><%= company.name %></a></h3>
    </li>
    <% end -%>
  </ul>
</div>

