<h1><%= admin_title('Lista de Vídeos') %></h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Cantor</th>
      <th>Código Youtube</th>
      <th>Active?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.singer %></td>
        <td><%= video.youtube_code %></td>
        <td><%= video.active ? 'Sim' : 'Não' %></td>
        <td><%= link_to 'Editar', edit_video_path(video) %></td>
        <td><%= link_to 'Apagar', video, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Video', new_video_path %>
