<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Singer:</strong>
  <%= @video.singer %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @video.youtube_code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @video.active %>
</p>

<%= link_to 'Editar', edit_video_path(@video) %> |
<%= link_to 'Voltar', videos_path %>
