<h1><%= admin_title('Lista de Eventos') %></h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Endereço</th>
      <th>Data</th>
      <th>Ativo?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.address %></td>
        <td><%= l event.occur_at %></td>
        <td><%= event.active ? 'Sim' : 'Não' %></td>
        <td data-no-turbolink><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Apagar', event, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Evento', new_event_path %>
