<h1><%= admin_title('Lista de postagens') %></h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Colunista</th>
      <th>Categoria</th>
      <th>Publicado em</th>
      <th>Ativo?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.author.try(:name) %></td>
        <td><%= news.news_category.try(:name) %></td>
        <td><%= l news.occur_at %></td>
        <td><%= news.active ? 'Sim' : 'Não' %></td>
        <td data-no-turbolink><%= link_to 'Editar', edit_news_path(news) %></td>
        <td><%= link_to 'Apagar', news, method: :delete, data: { confirm: 'Tem certeza disto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar postagem', new_news_path %>
