<aside id="sidebar" class="grid_6">
  <div id="tag_cloud-2" class="widget">
    <h3>Colunistas</h3>
    <div class="tagcloud">
    <ul>
      <% Author.sorted_by_count.each do |author| %>
      <li><a href='<%= news_by_author_path(author) %>' title='<%= author.name %> - <%= author.news.count %> postagens'><%= author.name %> - <%= author.news.count %> postagens</a></li>
      <% end -%>
    </ul>
    </div>
  </div>
</aside>
