<h1><%= title('Colunas') %></h1>

<div id="content" class="grid_17 right">
<% @news.each do |news| %>
<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><a href="<%= front_news_path(news) %>" title="<%= news.title %>"><%= news.title %></a></h2>

    <div class="post-meta">
      <div class="fleft">Data: <time datetime="<%= l news.occur_at %>"><%= l news.occur_at %></time></div>
      <div class="fright">Colunista: <%=link_to news.author.name, news_by_author_path(news.author) %></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <a href="<%= front_news_path(news) %>" title="<%= news.title %>"><img src="<%= news.image.url(:head) %>" alt="<%= news.title %>" /></a>
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= news.description.html_safe %></div>
    <a href="<%= front_news_path(news) %>" class="button"><span>Leia mais</span></a>
  </div>
</article>
<% end -%>
</div>
<%= render partial: "authors" %>
