<div id="content" class="grid_17 right">
<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><%= title("#{@news.title}") %></h2>

    <div class="post-meta">
      <div class="fleft">
        Data: <time datetime="<%= l @news.occur_at %>"><%= l @news.occur_at %></time><br />
        Coluna: <%= @news.news_category.name %>
      </div>
      <div class="fright">Colunista: <%= @news.author.name %></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <img src="<%= @news.image.url(:head) %>" alt="<%= @news.title %>" />
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= @news.description.html_safe %></div>
  </div>
</article>
</div>

<%= render partial: "authors" %>
