<%= form_for(@gallery_image) do |f| %>
  <% if @gallery_image.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@gallery_image.errors.count, "erros") %> encontrados:</h4>

      <ul>
      <% @gallery_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery_id %><br>
    <%= f.collection_select :gallery_id, Gallery.sorted.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
