<h1><%= admin_title("Lista de Fotos da Galeria: #{@gallery.title}") %></h1>

<p>
Fotos (<%= @gallery.gallery_images.count %>) <br />
<%= link_to 'Voltar para edição da galeria', edit_gallery_path(@gallery) %>
</p>

<div id="gallery" class="four_columns">
  <ul class="portfolio">
  <% @gallery.gallery_images.each_with_index do |gallery_image, i| %>
    <li class="<%= 'nomargin' if ((i+1) % 4) == 0 %>">
      <span class="image-border"><a class="image-wrap" href="<%= gallery_image.image.url(:big) %>" rel="prettyPhoto[gallery]" title="<%= gallery_image.image_file_name %>"><img src="<%= gallery_image.image.url(:thumb) %>" alt="<%= gallery_image.image_file_name %>" /><span class="zoom-icon"></span></a></span>
      <%= link_to 'Apagar', gallery_image, method: :delete, data: { confirm: 'Tem certeza disto?' } %>
    </li>
  <% end -%>
  </ul>
</div>

<script type="text/javascript">
  // initialise plugins
  jQuery(document).on("page:load ready", function(){
    // prettyphoto init
    jQuery("a[rel^='prettyPhoto']").prettyPhoto({
      animation_speed:'normal',
      slideshow:5000,
      autoplay_slideshow: false,
      social_tools:false
    });
  });

</script>
