<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @gallery_image.gallery %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gallery_image.image %>
</p>

<%= link_to 'Editar', edit_gallery_image_path(@gallery_image) %> |
<%= link_to 'Voltar', gallery_images_path %>
