<%= form_for(@gallery) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@gallery.errors.count, "erros") %> encontrados:</h4>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.collection_select :event_id, Event.sorted.all, :id, :title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :image_directories %><br>
    <%= f.select :image_directories, images_in_directories, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 4 %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 4 %>
  </div>
  <div class="field date">
    <%= f.label :occur_at %><br>
    <%= f.datetime_select :occur_at %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :views %><br>
    <%= f.object.views %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <% unless @gallery.new_record? %>
    <%= link_to "Administrar #{@gallery.gallery_images.count} imagens", gallery_images_path(gallery_id: @gallery) %>
    <% end -%>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $('#gallery_description').tinymce({
      // Location of TinyMCE script
      script_url              : '/lib/tiny_mce/tiny_mce.js',
      // General options
      theme                 : "advanced",
      plugins               : "autoresize,style,table,advhr,advimage,advlink,emotions,inlinepopups,preview,media,contextmenu,paste,fullscreen,noneditable,xhtmlxtras,template,advlist",
      // Theme options
      theme_advanced_buttons1       : "undo,redo,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontselect,fontsizeselect",
      theme_advanced_buttons2       : "forecolor,backcolor,|,cut,copy,paste,pastetext,|,bullist,numlist,link,image,media,|,code,preview,fullscreen",
      theme_advanced_buttons3       : "",
      theme_advanced_toolbar_location   : "top",
      theme_advanced_toolbar_align    : "left",
      theme_advanced_statusbar_location   : "bottom",
      theme_advanced_resizing       : false,
      font_size_style_values        : "8pt,10px,12pt,14pt,18pt,24pt,36pt",
      init_instance_callback        : function(){
          function resizeWidth() {
              document.getElementById(tinyMCE.activeEditor.id+'_tbl').style.width='100%';
          }
          resizeWidth();
          $(window).resize(function() {
              resizeWidth();
          })
      }
  });
})
</script>
