<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @gallery.event %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gallery.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gallery.address %>
</p>

<p>
  <strong>Occur at:</strong>
  <%= @gallery.occur_at %>
</p>

<p>
  <strong>Active:</strong>
  <%= @gallery.active %>
</p>

<p>
  <strong>Views:</strong>
  <%= @gallery.views %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @gallery.slug %>
</p>

<%= link_to 'Editar', edit_gallery_path(@gallery) %> |
<%= link_to 'Voltar', galleries_path %>
