// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table{
  border: 1px solid #171819;
  width: 100%;

  th{
    background: #2a2b2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
    background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
    padding:0 5px;
    font-size:12px;
    line-height:38px;
    font-weight:normal;
    color:#fff;
    text-align: left;
  }

  td{
    padding:0 5px;
    line-height:30px;
  }


}

div.alert{
  border: 1px solid #171819;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #CCE7FF;
}
