.primary_content_wrap .field{
  margin-top: 25px
}

.primary_content_wrap .actions{
  margin: 25px 0;
}

.primary_content_wrap input[type="text"],
.primary_content_wrap input[type="file"],
.primary_content_wrap select,
.primary_content_wrap textarea{
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
}

.primary_content_wrap .date select{
  width: auto;
}


.primary_content_wrap input[type="submit"]{
  background: #EBEBEB;
  padding: 8px;
  height: auto;
  border: 1px solid #ccc;
}

/*.primary_content_wrap input[type="submit"]:hover {background:#a8014f; border-color:#a8014f; color:#fff;}*/
