// Place all the styles related to the front_talk_with_us controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-contact{
  input[type="text"], textarea{
    width: 290px;
  }

  label.error {
    color: red;
    font-size: 11px;
  }
}
