// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#widget-header{
  border: 1px solid #d4d4d4;
  width: 602px;
  height: 68px;
  margin-top: 30px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  margin-right: 40px;
}
