/* General
---------------------------------------- */
html,
body {
	min-width:1010px;
	}
body{
	background-color: #fff;
	/*background-image:url(/assets/body-bg.jpg);*/
	/*background-position:50% 0;*/
	/*background-repeat:no-repeat;*/
	color: #7a7a7a;
	font: 100%/1.125em Arial, Helvetica, sans-serif;
	position:relative;
}

#main {
	font-size:.75em;
	line-height:1.333em;
	width:1010px;
	margin:0 auto;
	padding:21px 0 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin:0 0 1em 0;
	}
h5 {
	font-size:1em;
	}


/* List styling */
dl dt {
	background:url(/assets/list-arrow.gif) no-repeat 0 3px;
	padding:0 0 3px 32px;
	margin-bottom:.2em;
	font-size:18px;
	line-height:1.2em;
	color:#191919;
	}
dl dd {
	padding:0 0 0 32px;
	margin:0 0 1.5em 0;
	}

/* Links */
.link {
	display:inline-block;
	padding-right:7px;
	font-size:11px;
	line-height:16px;
	background:url(/assets/marker-1.gif) 100% 6px no-repeat;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
.link:hover {color:#fff !important;}

.indent-bot {margin-bottom:9px;}

/* Header
---------------------------------------- */
#header {
	width:100%;
	position:relative;
	z-index:99;
	/*background:url(/assets/header-tail.gif) 50% 0 repeat-x #222325;*/
	background-color: #fff;
}

/* Logo */
.logo {
	float:left;
	padding:20px 0 0 21px;
	}
	.logo h1,
	.logo h2 {
		font-size:42px;
		line-height:1.2em;
		margin:2px 0 -11px 15px;
		}
		.logo h1 a,
		.logo h2 a {
			color:#fff;
			text-decoration:none;
			}
.logo .tagline {
	font-size:10px;
	text-transform:uppercase;
	color:#494a4c;
	margin:0;
	padding:5px 0 0 15px;
	}


/* Header widget */
#widget-header {
	float:right;
}
	.widget-header .menu {
		margin:0;
		padding:22px 20px 0 0;
		overflow:hidden;
		font-size:0;
	}
		.widget-header .menu li {
			font-size:12px;
			list-style-type:none;
			display:inline-block;
			padding:0 0 0 12px;
			margin:0;
		}
			.widget-header .menu li a {
				text-decoration:none;
				color:#46494e;
				-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
				     -moz-transition: all 0.3s ease-out;  /* FF4+ */
				      -ms-transition: all 0.3s ease-out;  /* IE10 */
				       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
				          transition: all 0.3s ease-out;
			}
			.widget-header .menu li a:hover,
			.widget-header .menu li.current-menu-item a {color:#fff;}

/* Request a quote */
#widget_my_requestquotewidget {
	width:100%;
	overflow:hidden;
	}

	.top-box {
		background:#eee;
		border:1px solid #dbdbdb;
		padding:20px;
		margin-bottom:20px;
		overflow:hidden;
		zoom:1;
		position:relative;
		min-height:80px;
		}
	.box-button {
		float:right;
		background:#dbdbdb;
		font-size:21px;
		color:#fff;
		text-decoration:none;
		padding:10px;
		position:absolute;
		right:30px;
		top:50%;
		margin-top:-25px;
		}
	.box-text {
		float:left;
		width:75%;
		}



/* Slider
---------------------------------------- */
#slider-wrapper {
	padding:35px 30px 30px;
	position:relative;
	overflow:hidden;
	/*background:rgba(0,0,0,.75);*/
	background-color: #009bdb;
}
.no-rgba #slider-wrapper {background:url(/assets/slider-bg.png) 0 0 repeat;}
#slider {
	width:730px;
	height:409px;
	position:relative;
	overflow:hidden;
	float:left;
}
#banner-area {float:right;}

.slider {
	width:470px;
	height:409px;
	float:left;
	position:relative;
	z-index:2;
	overflow:hidden;
	background:url(/assets/loader.gif) 50% 50% no-repeat;
}
.items {display:none;}
.slider li {list-style-type:none;}

.pag {
	width:250px;
	float:right;
	position:relative;
}
.img-pags {
	position:static;
	z-index:1;
	display:block;
	width:250px;
	height:380px;
	overflow:hidden;
}
.img-pags ul {margin:0;}
.img-pags li {
	margin:0;
	padding:0;
	height:95px;
	width:250px;
	background: #b6c72c; /* Old browsers */
	background: -moz-linear-gradient(top,  #b6c72c 0%, #82900f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
	background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
}
.img-pags li > a {
	position:relative;
	display:block;
	width:86px;
	height:75px;
	overflow:hidden;
	float:left;
	margin:10px 11px 0 10px;
}
.img-pags li em {
	display:block;
	padding-top:6px;
	overflow:hidden;
	margin-bottom:32px;
}
.img-pags li .title {
	font-size:12px;
	line-height:16px;
	font-style:normal;
	color:#996005;
	text-decoration:none;
	-webkit-transition: color 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: color 0.3s ease-out;  /* FF4+ */
	      -ms-transition: color 0.3s ease-out;  /* IE10 */
	       -o-transition: color 0.3s ease-out;  /* Opera 10.5+ */
	          transition: color 0.3s ease-out;

}
.img-pags li time {
	display:block;
	color:#454545;
	font-size:11px;
	overflow:hidden;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
.img-pags li .title:hover {text-decoration:underline;}
.img-pags li.active .title,
.img-pags li:hover .title {color:#fff; font-weight:bold;}
.img-pags li.active time,
/*.img-pags li:hover time {color:#ec1b7d;}*/
.img-pags li a img {
	max-width:100%;
	height:auto;
}
.pags-bg {
	width:108px;
	height:30px;
	overflow:hidden;
	background: #b6c72c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzI1MjYyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iIzE5MTkxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEzMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b6c72c 0%, #82900f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
	background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
	position:absolute;
	left:0;
	bottom:-30px;
	border-radius:0 0 4px 4px;
}

.button1,
.button2 {
	display:block;
	width:17px;
	height:11px;
	position:absolute;
	z-index:99;
	text-decoration:none;
	top:9px;
	text-indent:-999em;
	overflow:hidden;
}
.button1 {
	background:url(/assets/button-up.png) 0 0 no-repeat;
	left:31px;
}
.button2 {
	background:url(/assets/button-down.png) 0 100% no-repeat;
	right:31px;
}
	.button1:hover {background-position:0 100%;}
	.button2:hover {background-position:1px 0;}

.banner{
	width:260px;
	overflow:hidden;
	position:absolute;
	top:200px;
	color:#fff;
	right:0px;
	z-index:15;
	background:url(..//assets/png.png) left top repeat;
	padding:0px;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
	.banner span {
		display:block;
		padding:20px;
	}
/*-------- end slider -----------*/








/* Navigations
---------------------------------------- */
.row-top {
	width:100%;
	padding:8px 0 7px;
	margin:21px 0 0;
	/*background:url(/assets/row-top-tail.gif) 0 0 repeat-x #121213;*/
	background-color: #009bdb;
	position:relative;
}
.row-top:after {
	display:block;
	width:1010px;
	height:17px;
	background:url(/assets/line.png) 0 0 no-repeat;
	position:absolute;
	left:0;
	bottom:-11px;
	content:'';
}

/* Primary navigation */
nav.primary {
	position:relative;
	z-index:2;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			130px; /* left offset of submenus need to match (see below) */
	padding:11px 0 11px 20px;
	background: #2a2b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2b2e 0%, #27282a 19%, #171819 73%, #121213 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(19%,#27282a), color-stop(73%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2b2e 0%,#27282a 19%,#171819 73%,#121213 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2b2e 0%,#27282a 19%,#171819 73%,#121213 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2b2e 0%,#27282a 19%,#171819 73%,#121213 100%); /* IE10+ */
	background: linear-gradient(top,  #2a2b2e 0%,#27282a 19%,#171819 73%,#121213 100%); /* W3C */
	-pie-background: linear-gradient(#2a2b2e, #121213);

	border-radius:4px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:inline-block;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			47px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			130px; /* match ul width */
	top:			-11px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/* Our skin for dropdown menu */
.sf-menu {
	float:left;
	padding:0 0 0 10px;
}
.sf-menu > li {margin-right:2px;}
.sf-menu > li > a {
	text-decoration:none;
	color:			#fff;
	background:url(/assets/menu-a-tail.gif) 0 0 repeat-x #171819;
	border-top:1px solid #303135;
	border-right:1px solid #19191b;
	border-bottom:1px solid #101011;
	border-left:1px solid #232426;
	font-size:12px;
	font-weight:bold;
	line-height:1.25;
	padding:10px 19px 11px 20px;
	border-radius:4px;
	position:relative;
}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a ,
.sf-menu > li.current-menu-item > a {
	background:url(/assets/menu-active.gif) 0 0 repeat-x #0c4d65;
	border-top-color:#57d2f1;
	border-right-color:transparent;
	border-bottom-color:#0c4d65;
	border-left-color:transparent;
}
.sf-menu li li {
	font-size:12px;
	line-height:1.25;
	padding:3px 0 4px;
}
.sf-menu li li a {
	color:#fff;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a ,
.sf-menu li li.current-menu-item > a {color:#3cb2de;}
.sf-menu li li li > a:hover,
.sf-menu li li li.sfHover > a ,
.sf-menu li li li.current-menu-item > a {color:#ec1b7d;}

/*** arrows **/
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			6px;
	top:			14px; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(/assets/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			14px;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(/assets/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}




/* Top search */
#top-search {
	float:right;
	padding:13px 21px 0 0;
	}
	#top-search .input-search {
		width:193px;
		padding:5px 5px 4px;
		margin:0;
		border-top:1px solid #101011;
		border-bottom:1px solid #2e2f33;
		border-left:1px solid #191a1c;
		border-right:1px solid #212325;
		border-radius:4px 0 0 4px;
		background:url(/assets/search-tail.gif) 0 0 repeat-x #27282b;
		color:#fff;
		position:relative;
	}
	#top-search #submit {
		cursor:pointer;
		width:64px;
		height:27px;
		line-height:26px;
		margin:0;
		padding:0;
		text-align:center;
		color:#a8014f;
		font-weight:bold;
		border-top:1px solid #2e2f33;
		border-left:1px solid #252629;
		border-right:none;
		border-bottom:1px solid #1b1c1e;
		background:url(/assets/search-submit.gif) 0 0 repeat-x #1c1d1f;
		border-radius:0 4px 4px 0;
		text-transform:none;
		text-decoration:none !important;
		position:relative;
	}
	#top-search #submit:hover {background:#a8014f; border-color:#a8014f; color:#fff;}





/* Content
---------------------------------------- */
.primary_content_wrap {
	width:100%;
	padding:30px 0;
	position:relative;
	z-index:1;
	background:#ececec;
}
	.primary_content_wrap h1,
	.primary_content_wrap h2 {
		background: #2a2b2e; /* Old browsers */
		background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
		background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
		overflow:hidden;
		position:relative;
		padding:0 0 0 19px;
		font-size:16px;
		line-height:43px;
		font-weight:normal;
		color:#fff;
		margin:0 0 10px;
	}
	.primary_content_wrap h3 {
		font-size:16px;
		line-height:20px;
		font-weight:normal;
		color:#fff;
	}

/* Blocks */
.top-star-news {
	position:relative;
	overflow:hidden;
	background:#f4f4f4;
}
.title-box {
	background: #b6c72c; /* Old browsers */
	background: -moz-linear-gradient(top,  #b6c72c 0%, #82900f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
	background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
	padding:11px 20px 12px 19px;
	height:20px;
}
	.title-box h3 {float:left; margin:0;}
	.title-box a {float:right; color:#fff; text-decoration: underline; margin-top:3px;}

	.hot-interview {background:#121213;}
		.hot-interview .title-box a {color:#fff;}

.top-star-news .latestpost {padding:9px 9px 8px;}
	.top-star-news .latestpost li {
		border:1px solid #ececec;
		border-top:none;
		background:#fff;
		padding:11px 9px 9px;
		margin:0;
		-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* FF4+ */
		      -ms-transition: all 0.3s ease-out;  /* IE10 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
		          transition: all 0.3s ease-out;
	}
	.top-star-news .latestpost li.even{background:#f8f8f8;}
	.top-star-news .latestpost li.odd{background:#fff;}
	.top-star-news .latestpost li:first-child {border-top:1px solid #ececec;}
	/*.top-star-news .latestpost li:hover {background:#26272a;}*/
	.top-star-news .latestpost time {
		font-size:11px;
		line-height:17px;
		color:#aba9a9;
	}
	.top-star-news .latestpost h5 {padding-top:5px;}
	.top-star-news .latestpost h5 a {color:#2baede;}


.hot_interview {
	background: #009bdb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjkyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iIzE2MTcxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #009bdb 0%, #076890 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009bdb), color-stop(100%,#076890)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009bdb 0%,#076890 100%); /* IE10+ */
	background: linear-gradient(top,  #009bdb 0%,#076890 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bdb', endColorstr='#076890',GradientType=0 ); /* IE6-8 */
	padding:18px 20px 21px !important;
	position:relative;
	overflow:hidden;
	font-size:11px;
	color:#fff;
}
	.hot_interview li {padding:0 !important; margin:0 !important; border:none !important;}
	.hot_interview .post_meta {font-size:11px; color:#fff; margin-bottom:3px;}
	.hot_interview .post-title{
		color:#8f44ce;
		font-weight:bold;
		text-transform:uppercase;
		text-decoration:none;
		display:inline-block;
		margin-bottom:7px;
	}
	.hot_interview .post-title:hover {text-decoration:underline;}
	.hot_interview figure {margin-bottom:6px;}
	.hot_interview figure img {
		border:3px solid #7c11d6;
		-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* FF4+ */
		      -ms-transition: all 0.3s ease-out;  /* IE10 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
		          transition: all 0.3s ease-out;
	}
	.hot_interview figure:hover img {border-color:#fff;}
	.hot_interview .post_content {margin-bottom:17px;}
	.hot_interview .button {
		background: #b6c72c; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxMTJkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzdjMTFkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iIzU5MGE5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjA5OTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
		background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
		-pie-background: linear-gradient(#b6c72c, #82900f);
		border-top:1px solid #b6c72c;
	}
	.hot_interview .button:hover {background:#82900f;}
		.hot_interview .button span {
			display:inline-block;
			padding-right:7px;
			background:url(/assets/marker-1.gif) 100% 6px no-repeat;
			-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
			     -moz-transition: all 0.3s ease-out;  /* FF4+ */
			      -ms-transition: all 0.3s ease-out;  /* IE10 */
			       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
			          transition: all 0.3s ease-out;
		}
	.hot_interview .button:hover span {padding-right:15px;}


#content {padding:5px 0 0 0;}
#content.left {float:right !important;}
#content.right {padding-right:40px;}


/* Page */
.page {

	}
	#page-content {

	}
	#page-meta {

	}




/* Comments
---------------------------------------- */
h3#comments {
	background: #2a2b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
	background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
	padding:0 0 0 19px;
	font-size:16px;
	line-height:43px;
	font-weight:normal;
	color:#fff;
	margin:20px 0 10px;
	}
.commentlist {
	list-style-type:none;
	padding:10px;
	margin:0;
	position:relative;
	overflow:hidden;
	background:#F4F4F4;
	}
	li.comment {
		list-style-type:none;
		position:relative;
	}
		li.comment > div {padding-bottom:10px;}
			li.comment .comment-body {
				padding:20px;
				position:relative;
				overflow:hidden;
				zoom:1;
				border:1px solid #ececec;
				}
			.odd > div > .comment-body {background:#fff;}
			.even > div > .comment-body {background:#F8F8F8;}
		.author-comment {

		}
		.comment-author {
			padding:0;
			}
		.comment-text {

		}
		.comment-meta {
			font-size:11px;
			color:#999;
		}
			li.comment .avatar {
				float:left;
				margin:0 20px 10px 0;
				padding:1px;
				border:1px solid #dbdbdb;
				vertical-align:top;
				overflow:hidden;
				}
				li.comment .avatar {
					display:block;
					vertical-align:top;
					overflow:hidden;
					}

				.commentlist ul.children {
					margin:0 0 0 30px;
					overflow:hidden;
					}
					.commentlist ul.children li.comment {
						list-style-type:none;
						padding:0;
						margin:0;
						position:relative;
						overflow:hidden;
						}

				.reply {
					text-align:right;
					}
					.reply a {
						display:inline-block;
						color:#666;
						font-weight:bold;
						text-transform:uppercase;
						position:relative;
						text-decoration:none;
						}
					.reply a:hover {text-decoration:underline;}


		.waiting-for-approval {

		}
	#trackbacks {

	}
		li.trackback {

		}
	p#no-comments {

	}
	#comments-form {

	}

	.allowed_tags {
		background:#eee;
		padding:15px;
		font-size:11px;
		font-family:"Courier New", Courier, monospace;
		color:#666;
		}
		.allowed_tags strong {
			font-family:Tahoma, Geneva, sans-serif;
			}
		#respond {
			padding:0 0 5px;
			margin:20px 0 0;
			background:#f4f4f4;
		}
			#respond h3 {
				background: #2a2b2e; /* Old browsers */
				background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
				background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
				overflow:hidden;
				position:relative;
				padding:0 0 0 19px;
				font-size:16px;
				line-height:43px;
				font-weight:normal;
				color:#fff;
				margin:0 0 10px;
			}
			.commentlist #respond h3 {margin:0 -10px 10px -10px; padding:0 10px 0 29px;}
		.cancel-comment-reply {padding:0 10px;}
		.commentlist .cancel-comment-reply {padding:0;}





/* Post
---------------------------------------- */
.post {

}
	.postContent {

	}
	.post-excerpt {

	}


.post-holder {
	padding-bottom:11px;
	margin-bottom:11px;
	border-bottom:1px dotted #000;
	position:relative;
	overflow:hidden;
	}

/* Post header */
.entry-header {margin-bottom:10px;}
.entry-header h2 {
	background: #2a2b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
	background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
	padding:0 0 0 19px !important;
	font-size:16px !important;
	line-height:43px !important;
	font-weight:normal;
	color:#fff;
	margin:0 !important;
}
.post-holder .entry-title {
	font-size:11px !important;
	line-height:16px !important;
	text-transform:uppercase;
	margin-bottom:0;
	padding:0 !important;
	font-weight:bold !important;
	background:none !important;
	filter:none !important;
	color:#8F44CE !important;
	}
	.post-holder .entry-title a {text-decoration:none; color:#8f44ce;}
	.post-holder .entry-title a:hover {text-decoration:underline;}
.post-holder.single-post {
	margin-bottom:30px;
	overflow:hidden;
	width:100%;
	}

	.post-holder iframe {margin-bottom:1.5em;}

/* Featured thumbnail */
.featured-thumbnail {
	position:relative;
	float:left;
	margin:0px 11px 5px 0;
	}
	.featured-thumbnail img {
		float:left;
		}

	/* Small thumbnail */
	.featured-thumbnail.small img {
		padding:4px;
		}

	/* Large thumbnail */
	.featured-thumbnail.large {
		margin-right:0;
		overflow:hidden;
		margin-bottom:1.5em;
		}
	.featured-thumbnail.large img {
		max-width:100%;
		height:auto;
		}

/* Post content */
.post-content {

}
	.post-content .excerpt {
		margin-bottom:1.5em;
		}
	.pagination {

	}
		.pagination a {
			display:inline-block;
			padding:0 5px;
			background:#eee;
			}

/* Post footer */
.post-holder .post-footer {
	clear:both;
	padding:15px 0 0 0;
	}
.post-holder.single-post .post-footer {
	margin-top:20px;
	}


/* Meta information for post */
.post-meta {
	padding:.5em 0;
	width:100%;
	font-size:11px;
	line-height:17px;
	color:#aba9a9;
	overflow:hidden;
	margin:0;
	}
	.post-meta a {
		color:#aba9a9;
		text-decoration:none;
		-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* FF4+ */
		      -ms-transition: all 0.3s ease-out;  /* IE10 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
		          transition: all 0.3s ease-out;
	}
	.post-meta a:hover {color:#8F44CE; text-decoration:underline;}

	.post-navigation {

	}

p.gravatar {
	float:left;
	margin-right:20px;
	}


/* Post edit link */
.post-edit-link {

	}
.post-edit-link:hover {

	}


/* Image styling */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
	}
.alignright {
	float:right;
	margin:0 0 10px 20px;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	}
.alignnone {
	margin:0 0 10px 0;
	}
article .post-content img {
	max-width:710px;
	}

.frame {
	padding:7px;
	background:#fff;
	border:1px solid #dbdbdb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
.frame img.alignleft,
.frame img.alignright{
	margin:0;
	padding:0;
	border:none;
	}



/* Page Navigaton (wp-pagenavi) */
.wp-pagenavi {
	clear: both;
	overflow:hidden;
	padding-top:15px;
}
.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border:none;
	background:#222225;
	color:#fff;
	font-size:11px;
	line-height:16px;
	padding: 2px 7px;
	margin:0 5px 5px 0;
	display:inline-block;
	border-radius:2px;
	position:relative;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background:#8F44CE;
}
.wp-pagenavi .pages {
	float:right;
	border:none;
	}


/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}



/* Gallery post format */
.gallery_post {
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
	width:100%;
	overflow:hidden;
	}
	.gallery_post .g_item {
		overflow:hidden;
		display:none;
		}
	.gallery_post .g_item:first-child {
		display:block;
		}
		.gallery_post .g_item .featured-thumbnail {
			float:none;
			margin:0;
			}
			.gallery_post .g_item .featured-thumbnail img {
				float:none;
				}

.g_pagination {
	text-align:left;
	overflow:hidden;
	}
	.g_pagination ul {
		list-style-type:none;
		margin:0;
		padding:.5em 0;
		overflow:hidden;
		}
		.g_pagination ul li {
			padding:0 5px 0 0;
			display:inline;
			margin:0;
			}
			.g_pagination ul li a {
				display:inline-block;
				text-decoration:none;
				width:10px;
				height:10px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				vertical-align:top;
				}
			.g_pagination li.activeSlide a,
			.g_pagination li a:hover {
				background:#999;
				}


/* Author
---------------------------------------- */
#post-author {
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:20px;
	margin-bottom:2em;
	}
#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
	#post-author .gravatar img {
		background:#fff;
		border:1px solid #dbdbdb;
		padding:5px;
		}
#author-description {

	}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}
	#recent-author-posts h3 {
		background: #2a2b2e; /* Old browsers */
		background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
		background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
		overflow:hidden;
		position:relative;
		padding:0 0 0 19px;
		font-size:16px;
		line-height:43px;
		font-weight:normal;
		color:#fff;
		margin:0 0 10px;
	}

/* Recent author comments */
#recent-author-comments h3 {
	background: #2a2b2e; /* Old browsers */
		background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
		background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
		overflow:hidden;
		position:relative;
		padding:0 0 0 19px;
		font-size:16px;
		line-height:43px;
		font-weight:normal;
		color:#fff;
		margin:0 0 10px;
}
	#recent-author-comments ul li {
		list-style-type:none;
		margin:0 0 0 5px;
	}

.author-info {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
	padding-bottom:1.5em;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		.author-info .avatar img {
			float:left;
			border:1px solid #fff;
			}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}




/* 404
---------------------------------------- */
#error404 {
	padding:30px 0 100px 0;
}
	.error404-num {
		font-size:250px;
		line-height:1.2em;
		color:#8F44CE;
		text-align:center;
		}
	#error404 hgroup {
		margin:0 0 1em 0;
		padding-top:50px;
		}
		#error404 hgroup h1 {
			font-size:3em;
			margin-bottom:0;
			background:none !important;
			filter:none !important;
			color:#333333 !important;
			padding:0 !important;
			font-weight:bold !important;
			}
		#error404 hgroup h2 {
			background:none;
			padding:0;
			font-size:2em;
			font-weight:bold;
			color:#333;
			margin:0;
			text-transform:uppercase;
			background:none;
			filter:none;
		}





/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */
.header-title {
	margin-bottom:10px;
	}
	.header-title h1 {
		background: #b6c72c; /* Old browsers */
		background: -moz-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
		background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
		overflow:hidden;
		position:relative;
		padding:0 0 0 19px;
		font-size:16px;
		line-height:43px;
		font-weight:normal;
		color:#fff;
		margin:0;
	}
	.header-title .page-desc {
		font-size:.91em;
		color:#999;
		}



/* Default layout 3 columns */
#gallery {
	}
	#gallery .portfolio {
		width:100%;
		overflow:hidden;
		list-style-type:none;
		padding:20px 0 0;
		margin:0;
		font-size:0;
		line-height:0;
		}
		#gallery .portfolio li {
			list-style-type:none;
			display:-moz-inline-box;
			display:inline-block;
			zoom:1;
			vertical-align:top;
			width:300px;
			margin:0 20px 40px 0;
			position:relative;
			background:none;
			padding:0;
			font-size:12px;
			line-height:16px;
			}
		* + html #gallery .portfolio li {
			display:inline;
			}
		#gallery .portfolio li.nomargin {
			margin-right:0 !important;
			}
			#gallery .portfolio li a.image-wrap {
				display:block;
				padding:0px;
				border:0;
				overflow:hidden;
				width:300px;
				height:160px;
				position:relative;
				background:url(/assets/loader.gif) 50% 50% no-repeat #f5f5f5;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
				#gallery .portfolio li a.image-wrap img {float:left;}

			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding:1em 0 0 .5em;
				}
				#gallery .portfolio h3 {font-size:11px; line-height:16px; text-transform:uppercase; font-weight:bold; margin:0 0 8px;}
				#gallery .portfolio h3 a {color:#8F44CE; text-decoration:none;}
				#gallery .portfolio h3 a:hover {text-decoration:underline;}
			#gallery .portfolio p.excerpt {
				padding:0;
				}

			.zoom-icon {
				display:block;
				position:absolute;
				left:0px;
				top:0px;
				right:0px;
				bottom:0px;
				cursor:pointer;
				background:rgba(0, 0, 0, .4);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				opacity:0;
				}
			.no-rgba .zoom-icon {
				background:url(/assets/black-opacity-60.png);
				visibility:hidden;
				}
			.zoom-icon:before {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				top:50%;
				width:25px;
				height:26px;
				margin:-13px 0 0 -13px;
				background:url(/assets/magnify-alt.png) 50% 50% no-repeat;
				}
			.image-wrap:hover .zoom-icon {
				opacity:1;
				}
			.no-rgba .image-wrap:hover .zoom-icon {
				visibility:visible;
				}


/* 1 column portfolio*/
#gallery.one_column .portfolio li {
	width:100%;
	margin-right:0;
	margin-left:0;
	}
	#gallery.one_column .portfolio li a.image-wrap {
		width:600px;
		height:300px;
		float:left;
		margin-right:20px;
		}
		#gallery.one_column .folio-desc {
			overflow:hidden;
			padding:0;
			}

/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:450px;
	margin-right:45px;
	}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:450px;
		height:250px;
		}

/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:210px;
	margin-right:33px;
	}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:210px;
		height:130px;
		}







/* Sidebar
---------------------------------------- */
#sidebar {padding:5px 0 0;}
#sidebar h3 {
	background: #2a2b2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a2b2e 0%, #242527 31%, #171819 74%, #121213 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2e), color-stop(31%,#242527), color-stop(74%,#171819), color-stop(100%,#121213)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* IE10+ */
	background: linear-gradient(top,  #2a2b2e 0%,#242527 31%,#171819 74%,#121213 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2e', endColorstr='#121213',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
	padding:0 0 0 19px;
	font-size:16px;
	line-height:43px;
	font-weight:normal;
	color:#fff;
	margin:-10px -10px 10px -10px;
}
	#widget-sidebar {

	}
		.widget {
			margin-bottom:30px;
			padding:10px;
			background:#f4f4f4;
			border:1px solid #ececec;
			overflow:hidden;
		}
			.widget ul li {
				list-style-type:none;
				font-size:12px;
				line-height:1.25;
				margin:0 0 0 5px;
				padding:7px 0;
				border:none;
				border-top:1px solid #cecece;
			}
			.widget ul li:first-child {border:none;}
				.widget ul li a {text-decoration:none;}
				.widget ul li a:hover {text-decoration:underline;}


/* Calendar */
#calendar_wrap {
	padding:0;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:6px 0;
			border:none;
			}
		#wp-calendar caption {
			font-size:16px;
			color:#000;
			font-weight:bold;
			padding:4px 0;
			margin-bottom:5px;
			}
		#wp-calendar thead th {
			padding:7px 0;
			font-size:14px;
			background:#fff;
			color:#000;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}

/* FAQs
---------------------------------------- */
.faq_list {
	margin:0;
	padding:20px 0 0;
	}
	.faq_list dt {
		color:#8F44CE;
		position:relative;
		padding:0 0 5px 28px;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		margin:0;
		background:none;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#000;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin:0 0 2em 0;
		}
		.faq_list dd .marker {
			top:3px;
			}

/* Custom widgets
---------------------------------------- */


/* Recent Comments */
ul.recentcomments {
	padding:9px 20px;
	min-height:274px;
	margin:0;
	border:none;
	list-style-type:none;
	background:#f4f4f4;
	}
	ul.recentcomments li {
		background:none;
		border-top:1px dotted #c3c3c3;
		padding:11px 0 23px;
		margin:0;
		overflow:hidden;
		list-style-type:none;
		font-size:11px;
		line-height:14px;
		color:#7a7a7a;
		position:relative;
		}
	ul.recentcomments li:first-child {
		border-top:none;
		}
		ul.recentcomments li img {
			float:left;
			margin:0 13px 0 0;
			}
		ul.recentcomments .comment-body {
			overflow:hidden;
			}
			ul.recentcomments .comment-body a {
				text-decoration:none;
				color:#7a7a7a;
				-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
				     -moz-transition: all 0.3s ease-out;  /* FF4+ */
				      -ms-transition: all 0.3s ease-out;  /* IE10 */
				       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
				          transition: all 0.3s ease-out;
				}
			ul.recentcomments .comment-body a:hover {
				color:#8f44ce;
				text-decoration:underline;
				}
		ul.recentcomments li h4 {
			font-size:1em;
			margin:0;
			position:absolute;
			left:0;
			top:60px;
			}
			ul.recentcomments li h4 a {
				text-decoration:none;
				color:#000;
				}
			ul.recentcomments li h4 a:hover {
				color:#f23264;
				}

/* Posts Type widget */
.post_list {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.post_list li {
		list-style-type:none;
		overflow:hidden;
		padding-top:1.5em;
		padding-bottom:1.5em;
		border-top:1px solid #dbdbdb;
		margin:0;
		}
	.post_list li:first-child {
		border:none;
		padding-top:0;
		}
		.post_list li .featured-thumbnail img {
			max-width:120px;
			height:auto;
			}
		.ie8 .post_list li .featured-thumbnail img {
			max-width:none;
			}

/* Popular posts */
.popular-posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular-posts li {
		overflow:hidden;
		margin:0 0 2em 0;
		}
		.popular-posts li .post-thumb {
			float:left;
			margin-right:20px;
			width:100px;
			height:100px;
			overflow:hidden;
			padding:1px;
			border:1px solid #dbdbdb;
			}
			.popular-posts li .post-thumb .thumbnail {
				width:100%;
				height:auto;
				}
		.popular-posts li .post-thumb.empty-thumb {
			background:url(/assets/empty_thumb.gif) no-repeat 50% 50% #ececec;
			}
		.popular-posts li h5 {
			font-size:1em;
			margin-bottom:.5em;
			}
		.popular-posts li .excerpt {
			margin-bottom:.8em;
			}

/* Carousel widget */
.latest-new {background:#f4f4f4;}
#carousel {
	height: 1%;
	overflow:hidden;
	padding:10px;
	background:#f4f4f4;
}
	#carousel .viewport {
		width: 100%;
		height:313px;
		overflow: hidden;
		position: relative;
	}
#carousel .carousel-control {background:#e9e7e2; padding:3px 11px; height:22px;}
#carousel .buttons {
	display: block;
	width: 25px;
	height: 23px;
	text-indent:-999em;
	background:url(/assets/carousel-control.png) 0 0 no-repeat;
	position:absolute;
	top:10px;
}
	#carousel .buttons.next {background-position:100% -23px; right:11px;}
	#carousel .buttons.prev {background-position:0 0; right:36px;}
	#carousel .buttons.next:hover {background-position:100% 0;}
	#carousel .buttons.prev:hover {background-position:0 -23px;}
/*#carousel .disable { visibility: hidden; }*/
#carousel .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 100%; left: 0; top: 0; border:none; border-top:1px solid #ececec; }
#carousel .overview li {
	padding:11px 9px 9px;
	list-style-type:none;
	margin:0;
	height:57px;
	overflow:hidden;
	background:#fff;
	color:#aba9a9;
	border:1px solid #ececec;
	border-top:none;
	font-size:11px;
	line-height:17px;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
#carousel .overview li.even {background:#f8f8f8;}
/*#carousel .overview li:hover {background:#26272a; color:#fff;}*/
	#carousel .overview .excerpt a {
		color:#666;
		text-transform:uppercase;
		text-decoration:none;
		line-height:16px;
		font-weight:bold;
		-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* FF4+ */
		      -ms-transition: all 0.3s ease-out;  /* IE10 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
		          transition: all 0.3s ease-out;
	}
	#carousel .overview li:hover .excerpt a {color:#ec1b7d;}
	#carousel .overview li .extra-wrap {padding-top:8px;}
	#carousel .overview .excerpt a:hover {text-decoration:underline;}
	#carousel .overview .thumbnail {float:left; margin:0 10px 0 0;}
		#carousel .overview .thumbnail img {
			float:left;
			-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
			     -moz-transition: all 0.3s ease-out;  /* FF4+ */
			      -ms-transition: all 0.3s ease-out;  /* IE10 */
			       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
			          transition: all 0.3s ease-out;
		}
		#carousel .overview .thumbnail:hover img {opacity:.7; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);}


/* Post Cycle */
.cycle_inner {padding:20px; background:#f4f4f4; position:relative;}
.post_cycle {
	padding:0;
	margin:0;
	width:430px;
	height:125px;
	position:relative;
	z-index:2;
}
.post_cycle .cycle_item {
	display:none;
	font-size:11px;
	line-height:16px;
	color:#676666;
	width:430px;
	height:130px;
	}
.post_cycle .cycle_item:first {display:block;}
.post_cycle .cycle_item .featured-thumbnail i {
	display:block;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	border:5px solid #8f44ce;
	opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}
.post_cycle .cycle_item .featured-thumbnail:hover i {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
	.post_cycle .cycle_item time {color:#aba9a9; display:block; margin:0 0 8px;}
	.post_cycle .cycle_item h4 {
		font-size:1em;
		margin:0 0 8px;
		text-transform:uppercase;
	}
		.post_cycle .cycle_item h4 a {
			color:#8f44ce;
			text-decoration:none;
		}
		.post_cycle .cycle_item h4 a:hover {text-decoration:underline;}
#post-controls {
	position:absolute;
	right:10px;
	top:-32px;
	z-index:1;
}
#post-controls a {
	display:block;
	float:right;
	width:25px;
	height:23px;
	overflow:hidden;
	text-indent:-999em;
	background:url(/assets/carousel-control-2.png) 0 0 no-repeat;
}
	#post-controls #prev-post {background-position:0 0;}
	#post-controls #prev-post:hover {background-position:0 -23px;}
	#post-controls #next-post {background-position:100% -23px;}
	#post-controls #next-post:hover {background-position:100% 0;}


/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle .folio_item {
		overflow:hidden;
		display:none;
		}
	.folio_cycle .folio_item:first {
		display:block;
		}
		.folio_cycle .folio_item .featured-thumbnail {
			float:none;
			margin:0 0 15px 0;
			}
			.folio_cycle .folio_item .featured-thumbnail img {
				float:none;
				}
#folio-controls {
	text-align:center;
	overflow:hidden;
	}
	#folio-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#folio-controls ul li {
			padding:0 5px 0 0;
			margin:0;
			display:inline;
			}
			#folio-controls ul li a {
				display:inline-block;
				text-decoration:none;
				width:9px;
				height:9px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				}
			#folio-controls ul li a:hover {
				background:#999;
				}


/* Recent Posts */
.latestpost {
	list-style-type:none;
	margin:0;
	padding:0;
	border:none;
	position:relative;
	overflow:hidden;
	}
	.latestpost li {
		margin:0;
		padding:0;
		list-style-type:none;
		border:none;
		background:none;
	}
	.latestpost li:hover {color:#000;}
		.latestpost li figure {margin-bottom:0;}
		.latestpost li h5 {
			margin-bottom:0;
			overflow:hidden;
			font-weight:normal;
			}
			.top-sound-box .latestpost li h5 {font-weight:bold;}
		.latestpost li h5 a {
			text-decoration:none;
			color:#868687;
			-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
			     -moz-transition: all 0.3s ease-out;  /* FF4+ */
			      -ms-transition: all 0.3s ease-out;  /* IE10 */
			       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
			          transition: all 0.3s ease-out;
		}
		.latestpost li h5 a:hover {text-decoration:underline;}
			.top-sound-box .latestpost li:hover h5 a {color:#222225;}
		.latestpost li .excerpt {margin:0 0 3px; color:#ec1b7d;}

.top-sound-box {background:#f4f4f4;}
	.top-sound-box .title-box {
		background: #ba007c; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IwMDE1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ExMDE0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzc1MDIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NzAyMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #ba007c 0%,#980467 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba007c), color-stop(100%,#980467)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ba007c 0%,#980467 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ba007c 0%,#980467 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ba007c 0%,#980467 100%); /* IE10+ */
		background: linear-gradient(top,  #ba007c 0%,#980467 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba007c', endColorstr='#980467',GradientType=0 ); /* IE6-8 */
	}
	.top-sound-box .link {color:#fff;}
	.top-sound-box .link:hover {text-decoration:underline;}
	.top-sound-box .latestpost {padding:8px;}
	.top-sound-box .latestpost li {
		padding:8px 10px 3px;
		background:#f8f8f8;
		border-right:1px solid #ececec;
		border-bottom:1px solid #ececec;
		border-left:1px solid #ececec;
		border-top:none;
		border-radius:2px;
		font-size:11px;
		line-height:16px;
		color:#222225;
	}
	.top-sound-box .latestpost li:first-child {border-top:1px solid #ececec;}
	.top-sound-box .latestpost li.odd {background:#fff;}

	.latestpost .count {
		display:block;
		color:#a2a2a4;
		margin:0 10px 0 0;
		float:left;
	}
	.latestpost .audio-wrapper {margin:0;}
	.latestpost .audiojs {
		background:none;
		box-shadow:none;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		line-height:16px;
		width:96px;
		height:20px;
		line-height:26px;
	}
		.latestpost  .audiojs .play-pause {
			border:none;
			padding:0;
			width:52px;
			height:20px;
		}
			.latestpost li .audiojs p {width:25px; height:20px; background:url(/assets/player-graphics.gif) 0 0 no-repeat;}
				.latestpost li .audiojs p:hover span {text-decoration:underline;}
			.latestpost li .audiojs .play {background-position:3px 8px;}
			.latestpost li .audiojs .pause {background-position:3px -103px;}
			.latestpost li .audiojs .loading,
			.latestpost li .audiojs .error {background:none;}
			.latestpost li:hover .audiojs .pause {background-position:-108px -103px;}
			.latestpost li:hover .audiojs .play {background-position:-110px 8px;}
				.latestpost .audiojs .play-pause p {padding-left:17px;}
				.latestpost .play-pause p span {display:inline-block; color:#868687;
					-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
					     -moz-transition: all 0.3s ease-out;  /* FF4+ */
					      -ms-transition: all 0.3s ease-out;  /* IE10 */
					       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
					          transition: all 0.3s ease-out;
				}
				.latestpost li:hover .play-pause p span {color:#222225;}
		.latestpost .audiojs .scrubber {
			border:none;
			width:40px;
			height:2px;
			margin:12px 2px 0;
			display:none;
			-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
			     -moz-transition: all 0.3s ease-out;  /* FF4+ */
			      -ms-transition: all 0.3s ease-out;  /* IE10 */
			       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
			          transition: all 0.3s ease-out;
		}
		.latestpost  .audiojs.playing .scrubber {display:block;}
			.latestpost .audiojs .progress {background:#ec1b7d; height:2px;}
			.latestpost .audiojs .loaded {background:#000; height:2px;}
		.latestpost  .audiojs .time {display:none;}
	.latestpost li .audio-download {
		display:inline-block;
		line-height:26px;
		padding-left:15px;
		background:url(/assets/download-marker.gif) 0 -80px no-repeat;
		color:#868687;
		text-decoration:none;
		float:left;
		margin:0 6px 0 0;
	}
		.latestpost li .audio-download:hover {text-decoration:underline;}
	.latestpost li:hover .audio-download {
		background-position:0 9px;
		color:#222225;
	}


	.clips .latestpost {margin-bottom:10px;}
	.clips .latestpost li {
		background: #009bdb; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3MjgyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iIzE2MTcxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #009bdb 0%,#076890 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009bdb), color-stop(100%,#076890)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #009bdb 0%,#076890 100%); /* IE10+ */
		background: linear-gradient(top,  #009bdb 0%,#076890 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bdb', endColorstr='#076890',GradientType=0 ); /* IE6-8 */
		padding:20px 20px 16px;
	}
	.clips .latestpost li iframe {width:190px; height:195px; overflow:hidden; margin:0; padding:0; border:none;}
	.clips .latestpost li h5 {padding-top:6px; line-height:17px; margin:0;}
	.clips .latestpost li h5 a {color:#fff;}
	.clips .link {color:#8f44ce;}

/* Twitter widget */
.twitter {
	position:relative;
}
.twitter_update_list {
	overflow:hidden;
	margin:0;
	}
.twitter ul li {
	list-style-type:none;
	margin:0 0 10px 0;
	padding:10px 0 0 37px;
	background:url(/assets/twitter-icon.png) no-repeat 0 10px;
	}
	.twitter ul li .twitt-body {
		padding:0 0 5px 0;
		}
	.twitter ul li .twitt-body a {
		}
	.twitter ul li a.timesince {
		font-size:11px;
		}
.twitter .profileLink {

	}
.twitter  .preloader {
	position:absolute;
	top:60px;
	left:0;
	height: 25px;
	line-height:25px;
	padding-left: 30px;
	background-position:0 50%;
	background-repeat:no-repeat;
	background-image:url(/assets/loading-twitter.gif);
}



/* Flickr widget */
.flickrImages {
	position:relative;
}
.flickrImages a {
	float:left;
	display:block;
	width:68px;
	height:68px;
	background:#000;
	margin:0 1px 1px 0;
	overflow:hidden;
	}
.flickrImages a img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	width:100%;
}
.flickrImages a:hover img {
	opacity:.5;
}
.flickrImages a.link {
	display:inline;
	float:none;
	width:auto;
	height:auto;
	margin:0;
	background:none;
	}

/* Banner widget */
.banners-holder {
	list-style-type:none;
	padding:0;
	margin:0 0 19px;
	overflow:hidden;
	position:relative;
	}
	.banners-holder li {
		list-style-type:none;
		float:left;
		margin:0 0 10px 10px;
		padding:0;
		width:310px;
	}
	.banners-holder li:first-child {margin-left:0;}
		.banners-holder li a {
			display:block;
			width:100%;
			height:131px;
			padding:0;
			background:#ff9201;
		}

		.banners-holder li img {
			vertical-align:top;
			}
			.banners-holder li a:hover img {text-indent:15px;}


/* Shortcodes
---------------------------------------- */

/* Recent Posts */
.recent-posts {
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	border:none;
	}
	.recent-posts li {
		list-style-type:none;
		margin:0 0 20px 0;
		padding:0;
		border:none;
		background:none;
		}
		.recent-posts li img.thumb {
			float:left;
			margin:0 20px 0 0;
			}
		.recent-posts li h5 {
			font-size:1em;
			margin-bottom:0;
			}
		.recent-posts li .excerpt {
			margin-bottom:1.5em;
			}
		.recent-posts li span.meta {
			display:block;
			margin-bottom:.5em;
			font-size:10px;
			color:#888;
			text-transform:uppercase;
			overflow:hidden;
			}
			.recent-posts li .post-date {
				float:left;
				}
			.recent-posts li .post-comments {
				float:right;
				}

/* Images Format Type */
.recent-posts .format-image {
	float:left;
	margin:0 20px 20px 0;
	}

/* Quote Format Type */
.recent-posts .format-quote {

	}

/* Link Format Type */
.recent-posts .format-link {

	}

/* Link Format Type */
.recent-posts .format-link {

	}

/* Audio Format Type */
.recent-posts .format-audio {
	margin-bottom:2em;
	}
	.recent-posts .format-audio .audio-wrapper {
		margin-bottom:.5em;
		}

/* Video Format Type */
.recent-posts .format-video {
	float:left;
	width:300px;
	margin:0 20px 20px 0;
	}
.recent-posts .format-video iframe {
	width:300px;
	height:200px;
	}

/* Interviews */
.recent-posts.interviews {
	list-style-type:none;
	padding:1.5em 0 0 0;
	margin:0 0 -30px 0;
	overflow:hidden;
	}
	.recent-posts.interviews li {
		float:left;
		width:300px;
		margin:0 20px 30px 0;
		background:none;
		padding:0;
		}
	.recent-posts.interviews li:nth-child(2n) {
		margin-right:0;
		}
	.recent-posts.interviews li.nomargin{
		margin-right:0;
		}
		.recent-posts.interviews li img.thumb {
			margin-right:3px;
			}
		.recent-posts.interviews li h3 {
			padding-top:8px;
			}
			.recent-posts.interviews li h3 a {
				color:#191919;
				}

/* Popular Posts */
.popular_posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular_posts li {
		list-style-type:none;
		padding:0 0 20px 0;
		margin:0;
		overflow:hidden;
		}



/* Tags */
.tags-cloud a,
.tagcloud a,
.post-footer a {
	position:relative;
	display:inline-block;
	background:#2BAEDE;
	padding:2px 7px;
	border-radius:3px;
	text-decoration:none;
	color:#fff;
	margin:0 1px 4px 0;
	font-size:11px !important;
	box-shadow:1px 1px 0 rgba(0, 0, 0, .2);
	line-height:16px;
	vertical-align:top;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
	}
.tags-cloud a:hover,
.tagcloud a:hover,
.post-footer a:hover {
	background:#000;
	color:#fff;
	}


/* Recent Comments */
.recent-comments {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.recent-comments li {
		padding:0;
		margin:0;
		border:none;
		padding-bottom:.5em;
		}


/* Footer
---------------------------------------- */
#footer {
	width:100%;
	padding:0;
}
	#footer h4 {
		font-size:16px;
		line-height:20px;
		font-weight:normal;
		color:#fff;
		margin:0 0 15px;
	}
	.footer-bg {
		width:100%;
		padding:25px 0 15px;
		background: #121213; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTIxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzE2MTcxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzI2MjcyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTJiMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #121213 0%, #161718 25%, #262729 78%, #2a2b2e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121213), color-stop(25%,#161718), color-stop(78%,#262729), color-stop(100%,#2a2b2e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #121213 0%,#161718 25%,#262729 78%,#2a2b2e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #121213 0%,#161718 25%,#262729 78%,#2a2b2e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #121213 0%,#161718 25%,#262729 78%,#2a2b2e 100%); /* IE10+ */
		background: linear-gradient(top,  #121213 0%,#161718 25%,#262729 78%,#2a2b2e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121213', endColorstr='#2a2b2e',GradientType=0 ); /* IE6-8 */
		position:relative;
	}
	.footer-bg:after {
		width:100%;
		height:55px;
		content:'';
		background:url(/assets/footer-color-line.png) 0 0 no-repeat;
		position:absolute;
		left:0;
		top:0;
	}

	/* Footer widget */
	#widget-footer {

	}
		#widget-footer ul {margin:0; padding:0 20px 0 0;}
			#widget-footer ul li {
				list-style-type:none;
				font-size:12px;
				line-height:1.25;
				padding:7px 0;
				margin:0;
				border-top:1px solid #2d2e30;
			}
			#widget-footer ul li:first-child {border:none;}
				#widget-footer ul a {
					text-decoration:none;
					-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
					     -moz-transition: all 0.3s ease-out;  /* FF4+ */
					      -ms-transition: all 0.3s ease-out;  /* IE10 */
					       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
					          transition: all 0.3s ease-out;
				}
				#widget-footer ul a:hover {color:#fff !important;}
			#widget-footer div:first-child ul a {color:#2baede;}
			#widget-footer div:nth-child(2n) ul a {color:#2b6ade;}
			#widget-footer div.second ul a {color:#2b6ade;}
			#widget-footer div:nth-child(3n) ul a {color:#8f44ce;}
			#widget-footer div.third ul a {color:#8f44ce;}
			#widget-footer div:nth-child(4n) ul a {color:#ec1b7d;}
			#widget-footer div.fourth ul a {color:#ec1b7d;}

	#widget-footer .social-networks li {
		list-style-type:none;
		padding:0 0 .5em 0;
		margin:0;
		}

	/* Footer navigation */
	nav.footer {
		float:right;
	}
		nav.footer ul {
			margin:0;
			padding:0;
			}
			nav.footer ul li {
				list-style-type:none;
				float:left;
				padding-left:15px;
				margin:0;
			}
				nav.footer ul li a {text-decoration:none; color:#fff;}
				nav.footer ul li a:hover,
				nav.footer ul li.current-menu-item a {text-decoration:underline;}

	/* Copyright */
	#copyright {
		padding:20px 0;
		}

	/* Footer text */
	#footer-text {
		float:left;
		color:#fff;
	}
	#footer-text a {text-decoration:none; color:#fff;}
	#footer-text a:hover {text-decoration:underline;}



/* Misc
---------------------------------------- */
.button {
	display:inline-block;
	padding:3px 9px 4px;
	color:#fff;
	text-decoration:none;
	font-size:11px;
	line-height:16px;
	text-transform:capitalize;
	border-radius:4px;
	background: #8112de; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxMTJkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzdjMTFkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgxJSIgc3RvcC1jb2xvcj0iIzU5MGE5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjA5OTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8112de 0%, #7c11d6 14%, #590a9c 81%, #520990 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8112de), color-stop(14%,#7c11d6), color-stop(81%,#590a9c), color-stop(100%,#520990)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8112de 0%,#7c11d6 14%,#590a9c 81%,#520990 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8112de 0%,#7c11d6 14%,#590a9c 81%,#520990 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8112de 0%,#7c11d6 14%,#590a9c 81%,#520990 100%); /* IE10+ */
	background: linear-gradient(top,  #8112de 0%,#7c11d6 14%,#590a9c 81%,#520990 100%); /* W3C */
	-pie-background: linear-gradient(#8112de, #520990);
	border-top:1px solid #ac18ea;
	position:relative;
}
.button:hover {background:#520990; -pie-background: linear-gradient(#520990, #520990);}
	.button span {
		background: url(/assets/marker-1.gif) no-repeat scroll 100% 6px transparent;
		display: inline-block;
		padding-right: 7px;
		-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* FF4+ */
		      -ms-transition: all 0.3s ease-out;  /* IE10 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
		          transition: all 0.3s ease-out;
	}
	.button:hover span {padding-right:15px;}
.no-results {

}


/* Lightbox */
.lightbox {
	display:block;
	position:relative;
	}

/* Back to Top */
#back-top-wrapper {
  width:100%;
  position:absolute;
  overflow:hidden;
  height:100px;
}
#back-top {
	position: fixed;
	bottom: 30px;
	left:50%;
	margin-left:500px;
	display:none;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/assets/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

/* Tabs */
.tabs {
    margin:0 0 10px;
	padding:0;
	width:100%;
	height:375px;
	overflow:hidden;
}
.tabs .tab-menu {
	background: #b6c72c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhMmIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzI0MjUyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzE3MTgxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b6c72c 0%, #82900f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
	background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
	overflow:hidden;
	position:relative;
}
.tabs .tab-menu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
	width:100%;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	font-size:0;
	line-height:0;
}

.tabs .tab-menu li {
	list-style-type:none;
    display:inline;
    margin: 0;
    padding: 0;
	font-size: 16px;
	line-height:20px;
}

.tabs .tab-menu a {
    color: #797a7b;
	background:none;
    display:inline-block;
    margin: 0;
    padding: 12px 21px 11px;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
	     -moz-transition: all 0.3s ease-out;  /* FF4+ */
	      -ms-transition: all 0.3s ease-out;  /* IE10 */
	       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	          transition: all 0.3s ease-out;
}

.tabs .tab-menu a:hover,
.tabs .tab-menu a.active {
    color:#fff;
	background: #b6c72c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzA2MDcwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iIzFlMWUyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNzI4MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6c72c), color-stop(100%,#82900f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* IE10+ */
	background: linear-gradient(top,  #b6c72c 0%,#82900f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6c72c', endColorstr='#82900f',GradientType=0 ); /* IE6-8 */
}
.tab-wrapper {background:#28292c;}
.tabs .tab {
	background: #009bdb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjkyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iIzE2MTcxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #009bdb 0%,#076890 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009bdb), color-stop(100%,#076890)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009bdb 0%,#076890 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009bdb 0%,#076890 100%); /* IE10+ */
	background: linear-gradient(top,  #009bdb 0%,#076890 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bdb', endColorstr='#076890',GradientType=0 ); /* IE6-8 */
	position:relative;
	overflow:hidden;
    padding: 18px 0 0;
}
	.tabs .tab ul {
		list-style-type: none !important;
		margin: 0 !important;
		padding: 0 0 6px !important;
		font-size:0;
		line-height:0;
		background:url(/assets/spacer-1.png) 50% 0 repeat-y;
	}
		.tabs .tab ul li {
			list-style-type: none !important;
			background:none !important;
			border:none !important;
			border-top:1px solid #fff !important;
			display:inline-block !important;
			width:190px !important;
			padding:10px !important;
			margin:0 12px !important;
			font-size:12px !important;
			line-height:17px !important;
		}
		.tabs .tab ul li:first-child {border-top:none !important; padding-top:0 !important;}
		.tabs .tab ul li:first-child + li {border-top:none !important; padding-top:0 !important;}
		.tabs .tab ul li .title {}
		.tabs .tab li .featured-thumbnail i {
			display:block;
			position:absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			border:3px solid #2baede;
			opacity:0;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
			     -moz-transition: all 0.3s ease-out;  /* FF4+ */
			      -ms-transition: all 0.3s ease-out;  /* IE10 */
			       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
			          transition: all 0.3s ease-out;
		}
		.tabs .tab li .featured-thumbnail:hover i {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
			.tabs .tab ul li h5 {font-weight:normal !important; margin:0 !important; font-size:12px !important;}
			.tabs .tab ul li .title {
				text-decoration:none;
				-webkit-transition: all 0.3s ease-out;    /* Saf3.2+, Chrome */
				     -moz-transition: all 0.3s ease-out;  /* FF4+ */
				      -ms-transition: all 0.3s ease-out;  /* IE10 */
				       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
				          transition: all 0.3s ease-out;
			}
			.tabs .tab ul li.even .title {color:#ccc;}
			.tabs .tab ul li.odd .title {color:#ccc;}
			.tabs .tab ul li .title:hover {color:#fff;}
				.tabs .tab ul li.even i {border-color:#2baede;}
				.tabs .tab ul li.odd i {border-color:#8f44ce;}





/* Toggle */
.toggle {
    padding: 0 0 2px 0;
}
.toggle .trigger {
	background-color: #f5f5f5;
	background: -moz-linear-gradient(bottom, #F2F2F2 0px, #ffffff 100%);
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #ffffff));
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666666;
	display: block;
	padding: 10px 12px 10px 40px;
	position: relative;
	text-decoration:none;
	height:1%;
	}

.toggle .trigger span {
	background: url(includes//assets/toggle.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
	text-indent: -9999px;
	width: 22px;
	height: 20px;
	}

.toggle .trigger:hover,
.toggle .active {
	background:#191919;
	color:#fff;
	}
.toggle .active span {
	background-position: 0 -20px;
	}

.toggle .box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	}



/* Dropcap */
.dropcap {
	display: block;
  float: left;
  margin: 0 22px 20px 0;
  text-transform: uppercase;
  width: 51px;
  height: 51px;
  background: #666;
	border-radius:6px;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
	}

.widget-area {

}

.hr {
	height:1px;
	background:#eee;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 5px;
	}
.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr, .grid_13 .hr, .grid_14 .hr, .grid_15 .hr, .grid_16 .hr, .grid_17 .hr, .grid_18 .hr, .grid_19 .hr, .grid_20 .hr, .grid_21 .hr, .grid_22 .hr, .grid_23 .hr, .grid_24 .hr {
	margin-left:0;
	margin-right:0;
	}
.sm_hr {
  height: 1px;
  background: #eee;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin: 25px 10px;
}
.grid_1 .sm_hr,
.grid_2 .sm_hr,
.grid_3 .sm_hr,
.grid_4 .sm_hr,
.grid_5 .sm_hr,
.grid_6 .sm_hr,
.grid_7 .sm_hr,
.grid_8 .sm_hr,
.grid_9 .sm_hr,
.grid_10 .sm_hr,
.grid_11 .sm_hr,
.grid_12 .sm_hr {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
	height:50px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}

/* Address */
.address {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	}
.address dt {
	float:left;
	width:165px;
	margin-right:20px;
	padding:0 0 0 55px;
	background:none;
	font-size:1em;
	line-height:18px;
	background:url(/assets/address-icon1.png) no-repeat 0 3px;
	}
.address dd {
	float:left;
	width:217px;
	padding:0 0 0 53px;
	background:url(/assets/address-icon2.png) no-repeat 0 3px;
	}
	.address dd ul {
		list-style-type:none;
		padding:0;
		margin:0;
		}
		.address dd ul li {
			background:none;
			padding:0;
			margin:0;
			list-style-type:none;
			}
	.address dd span {
		float:left;
		width:100px;
		}
		.address dd a {
			text-decoration:underline;
			}
		.address dd a:hover {
			text-decoration:none;
			}


/* Google Map */
.google-map {
	margin-bottom:20px;
	}




/* VIDEO */
.video-wrap {
	margin-bottom: 10px;
	position:relative;
	zoom:1;
	}
	.video-wrap object {
		position:relative;
		z-index:2;
		}
	.video-bg {
		background-color:black;
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		}

/* AUDIO */
.audio-wrapper {
   margin-bottom:1.5em;
}
.audio-desc {
	font-size:.91em;
	color:#999;
	padding:.5em 0 0 0;
	}
.audiojs audio { position: absolute; left: -1px; }
.audiojs { width: 460px; height: 36px; background: #404040; overflow: hidden; font-family: monospace; font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #000; }
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 280px; background: #5a5a5a; height: 14px; margin: 10px; border-top: 1px solid #3f3f3f; border-left: 0px; border-bottom: 0px; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #ccc; z-index: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
	background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
	background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #000; color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }
.audiojs .time em { padding: 0px 2px 0px 0px; color: #f9f9f9; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
	text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(js/audiojs/player-graphics.gif) -2px -1px no-repeat; }
.audiojs .loading { background: url(js/audiojs/player-graphics.gif) -2px -31px no-repeat; }
.audiojs .error { background: url(js/audiojs/player-graphics.gif) -2px -61px no-repeat; }
.audiojs .pause { background: url(js/audiojs/player-graphics.gif) -2px -91px no-repeat; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }



/* Alert boxes
---------------------------------------- */
.alert-box, .wpcf7-response-output {
	padding:20px 20px 20px 90px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:.91em;
	line-height:1.4em;
	border:1px solid #dbdbdb;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	}
	.error-box, .wpcf7-mail-sent-ng {
		border-color:#ff9999;
		color:#c31b00;
		background:url(/assets/icons/alert/icon-error.png) no-repeat 20px 50% #ffcccc;
		}
	.attention-box, .wpcf7-validation-errors, .wpcf7-spam-blocked {
		border-color:#e6c555;
		color:#9e660d;
		background:url(/assets/icons/alert/icon-note.png) no-repeat 20px 50% #fdebae;
		}
	.notice-box {
		border-color:#68a2cf;
		color:#2e6093;
		background:url(/assets/icons/alert/icon-info.png) no-repeat 20px 50% #bfe4f9;
		}
	.approved-box, .wpcf7-mail-sent-ok {
		border-color:#a3c159;
		color:#5e6f33;
		background:url(/assets/icons/alert/icon-download.png) no-repeat 20px 50% #ccff99;
		}



/* Forms
---------------------------------------- */

/* Form defaults */
input {height:16px;}
input, select, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	border:1px solid #dbdbdb;
	outline:none;
}
input[type="text"], textarea {
	background:#fff;
	border:1px solid #ECECEC;
	padding:5px;
	color:#888;
	}
input[type="submit"], input[type="reset"] {
	position:relative;
	display:inline-block;
	padding:0;
	line-height:16px;
	color:#666;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	background:none;
	border:none;
	border-bottom:1px solid transparent;
	cursor:pointer;
	margin-right:15px;
	}
input[type="submit"]:hover, input[type="reset"]:hover {
	border-bottom-color:#666;
	}


/* Comment form */
#commentform {
		padding:0 10px;
	}
	.commentlist #commentform {padding:0;}
	#commentform p.field {
		margin-bottom:5px;
		}
		#commentform small {
			color:#8b8b8b;
			}
	#commentform label {
		display:block;
		}
	#commentform input[type="text"] {
		width:250px;
		}
	#commentform textarea {
		width:460px;
		max-width:460px;
		min-width:460px;
		height:150px;
		min-height:150px;
		overflow:auto;
		}




/* Contact form */
.wpcf7-form p.field {
	margin-bottom:9px;
	overflow:hidden;
	vertical-align:top;
	position:relative;
	}
.wpcf7-form p.field input {
	width:290px;
	}
	.wpcf7-form p.field small {
		color:red;
		}
.wpcf7-form textarea {
	width:290px;
	max-width:290px;
	min-width:290px;
	height:255px;
	min-height:255px;
	overflow:auto;
	margin-bottom:17px;
	}
.wpcf7-form .submit-wrap {
	padding:0;
	margin:0;
	}
	span.wpcf7-form-control-wrap {
		display:block;
		}
	.wpcf7-not-valid-tip {
		width:289px !important;
		height:16px !important;
		line-height:16px !important;
		position:absolute;
		left:0 !important;
		top:1px !important;
		padding:4px 5px !important;
		background:#f3b7b7 !important;
		color:red !important;
		border:1px solid red !important;
		}
	div.wpcf7-response-output {
		margin-left:0 !important;
		margin-right:0 !important;
		}





/* Sidebar search form */
#searchform {

	}
#searchform .searching {
		width:135px;
		margin-right:10px;
		}
	#searchform .submit {
		cursor:pointer;
		padding-left:0;
		padding-right:0;
		margin:0;
		}



/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper {
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */
