<%= form_for(@news_category) do |f| %>
  <% if @news_category.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@news_category.errors.count, "erros") %> encontrados:</h4>

      <ul>
      <% @news_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
