<div class="grid_16 "><h2><%=title('Fale conosco')%></h2>
  <div class="google-map"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+NY,+USA&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.704107,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.949919&amp;spn=0.01628,0.028238&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" width="570" height="250" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
  <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</h5>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
  <dl class="address">
    <dt>The Company Name Inc.<br />
      9870 St Vincent Place,<br />
      Glasgow, DC 45 Fr 45.
    </dt>
    <dd>
      <ul>
        <li><span>Telefone:</span>+1 800 603 6035</li>
        <li><span>Facebook:</span>+1 800 889 9898</li>
        <li>E-mail: <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#116;&#111;&#064;&#101;&#110;&#116;&#114;&#101;&#116;&#101;&#097;&#113;&#117;&#105;&#046;&#099;&#111;&#109;&#046;&#098;&#114;"><%=ContactMailer::DEFAULT_TO%></a></li>
      </ul>
    </dd>
  </dl>
</div>
<div class="grid_8 ">
  <h2>Formulário de contato</h2>
  <%= form_for :contact, url: send_contact_path, html: {id: 'form-contact'} do |f| %>
  <p>
    <%= f.label :name, 'Nome' %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :subject, 'Assunto' %><br />
    <%= f.text_field :subject %>
  </p>

  <p>
    <%= f.label :message, 'Mensagem' %><br />
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit "Enviar" %>
  </p>
  <% end -%>
</div>
<div class="clear"></div>


<script type="text/javascript">
$(document).on("page:change ready", function(){
  $("#form-contact").validate({
    rules: {
      'contact[name]': "required",
      'contact[message]': "required",
      'contact[subject]': "required",
      'contact[email]': {
        required: true,
        email: true
      }
    }
  });
})
</script>
