<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><%= title("Evento #{@event.title}") %></h2>

    <div class="post-meta">
      <div class="fleft">Ocorreu em: <time datetime="<%= l @event.occur_at %>"><%= l @event.occur_at %></time></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <img src="<%= @event.image.url(:head) %>" alt="<%= @event.title %>" />
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= @event.description.html_safe %></div>
  </div>

  <div class="post-content">
    <h4>Endereço</h4>
    <div class="excerpt"><%= @event.address %></div>
  </div>
</article>


<div class="header-title"><h1>Fotos (<%= @event.gallery_images.count %>)</h1></div>
<div id="event" class="four_columns">
  <ul class="portfolio">
  <% @event.gallery_images.each_with_index do |gallery_image, i| %>
    <li class="<%= 'nomargin' if ((i+1) % 4) == 0 %>">
      <span class="image-border"><a class="image-wrap" href="<%= gallery_image.image.url(:big) %>" rel="prettyPhoto[event]" title="<%= gallery_image.image_file_name %>"><img src="<%= gallery_image.image.url(:thumb) %>" alt="<%= gallery_image.image_file_name %>" /><span class="zoom-icon"></span></a></span>
    </li>
  <% end -%>
  </ul>
</div>


<script type="text/javascript">
  // initialise plugins
  jQuery(document).on("page:load ready", function(){
    // prettyphoto init
    jQuery("a[rel^='prettyPhoto']").prettyPhoto({
      animation_speed:'normal',
      slideshow:5000,
      autoplay_slideshow: false,
      social_tools:false
    });
  });
</script>
