<h1><%= title('Fotos') %></h1>
<% @galleries.each do |gallery| %>
<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><a href="<%= front_gallery_path(gallery) %>" title="<%= gallery.title %>"><%= gallery.title %></a></h2>

    <div class="post-meta">
      <div class="fleft">Ocorreu em: <time datetime="<%= l gallery.occur_at %>"><%= l gallery.occur_at %></time></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <a href="<%= front_gallery_path(gallery) %>" title="<%= gallery.title %>"><img src="<%= gallery.image.url(:head) %>" alt="<%= gallery.title %>" /></a>
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= gallery.description.html_safe %></div>
    <a href="<%= front_gallery_path(gallery) %>" class="button"><span>Ver fotos</span></a>
  </div>
</article>
<% end -%>
