<article class="post type-post category-latest-news category-reviews post-holder">
  <header class="entry-header">
    <h2 class="entry-title"><%= title("Fotos de #{@gallery.title}") %></h2>

    <div class="post-meta">
      <div class="fleft">Ocorreu em: <time datetime="<%= l @gallery.occur_at %>"><%= l @gallery.occur_at %></time></div>
    </div><!--.post-meta-->
  </header>

  <figure class="featured-thumbnail large">
    <img src="<%= @gallery.image.url(:head) %>" alt="<%= @gallery.title %>" />
  </figure>
  <div class="clear"></div>

  <div class="post-content">
    <div class="excerpt"><%= @gallery.description.html_safe %></div>
  </div>
</article>


<div class="header-title"><h1>Fotos (<%= @gallery.gallery_images.count %>)</h1></div>
<div id="gallery" class="four_columns">
  <ul class="portfolio">
  <% @gallery.gallery_images.each_with_index do |gallery_image, i| %>
    <li class="<%= 'nomargin' if ((i+1) % 4) == 0 %>">
      <span class="image-border"><a class="image-wrap" href="<%= gallery_image.image.url(:big) %>" rel="prettyPhoto[gallery]" title="<%= gallery_image.image_file_name %>"><img src="<%= gallery_image.image.url(:thumb) %>" alt="<%= gallery_image.image_file_name %>" /><span class="zoom-icon"></span></a></span>
    </li>
  <% end -%>
  </ul>
</div>


<script type="text/javascript">
  // initialise plugins
  jQuery(document).on("page:load ready", function(){
    // prettyphoto init
    jQuery("a[rel^='prettyPhoto']").prettyPhoto({
      animation_speed:'normal',
      slideshow:5000,
      autoplay_slideshow: false,
      social_tools:false
    });

  });

</script>
