<header id="header">
  <div class="logo">
    <a href="<%=root_path%>" id="logo"><%= image_tag "logosite.png", alt: t('global.slogan'), title: t('global.slogan') %></a>
  </div>
  <div class="fright">
    <div id="widget-header">
    <% if header_banner %>
    <a href='<%= header_banner.url %>'><img src='<%= header_banner.image.url(:header) %>' alt='<%= header_banner.title %>' /></a>
    <% else %>
    <a href="/fale-conosco">Anuncie aqui</a>
    <% end -%>
    </div><!--#widget-header-->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <%= render partial: "layouts/menu" %>
</header>
<script type="text/javascript">
  jQuery('ul.sf-menu').superfish({
    delay:       1000,    // one second delay on mouseout
    animation:   {opacity:'show',height:'show'}, // fade-in and slide-down animation
    speed:       'normal',  // faster animation speed
    autoArrows:  false,   // generation of arrow mark-up (for submenu)
    dropShadows: false   // drop shadows (for submenu)
  });
</script>
