<div class="row-top">
  <nav class="primary">
    <ul id="topnav" class="sf-menu">
      <li class="menu-item <%=current_menu_css_class('/') %>"><a href="<%= root_path %>">Página inicial</a></li>
      <% if user_signed_in? %>
      <li class="menu-item <%= 'current-menu-item page_item current_page_item' if in_admin? %>"><a href="#">Área Administrativa</a>
        <ul class="sub-menu">
          <li class="menu-item"><a href="<%= galleries_path %>">Galerias</a></li>
          <li class="menu-item"><a href="<%= news_index_path %>">Colunas</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="<%= news_index_path %>">Postagens</a></li>
            <li class="menu-item"><a href="<%= news_categories_path %>">Colunas</a></li>
            <li class="menu-item"><a href="<%= authors_path %>">Colunistas</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="<%= events_path %>">Agenda</a></li>
          <li class="menu-item"><a href="<%= videos_path %>">Vídeos</a></li>
          <li class="menu-item"><a href="<%= banners_path %>">Banners</a></li>
        </ul>
      </li>
      <% end -%>
      <li class="menu-item <%=current_menu_css_class('/fotos') %>"><a href="<%= front_galleries_path %>">Fotos</a></li>
      <li class="menu-item <%=current_menu_css_class('/agenda') %>"><a href="<%= front_events_path %>">Agenda</a></li>
      <li class="menu-item <%=current_menu_css_class('/colunas') %>"><a href="<%= front_news_index_path %>">Colunas</a></li>
      <li class="menu-item <%=current_menu_css_class('/videos-web') %>"><a href="<%= front_videos_path %>">Vídeos</a></li>
      <li class="menu-item <%=current_menu_css_class('/guia-empresarial') %>"><a href="<%= front_companies_path %>">Guia empresarial</a></li>
      <li class="menu-item <%=current_menu_css_class('/fale-conosco') %>"><a href="<%= front_talk_with_us_path %>">Fale conosco</a></li>
    </ul>
  </nav>
  <div class="clear"></div>
</div>
