<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" dir="ltr" lang="en-US"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" dir="ltr" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US"> <!--<![endif]-->
<head>
  <title><%=t('global.system_name')%><%=" - #{yield(:title)}" if content_for?(:title)%></title>
  <meta charset="UTF-8" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
    </div>
    <![endif]-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <style type="text/css" media="screen">
      body {font-family:Arial, Helvetica, sans-serif; color:#333}#main {font-size:12px; font-style:normal;}
    </style>
    <!--[if lt IE 9]>
    <style type="text/css">
      #top-search .input-search,
    .pags-bg,
    .button,
    .tags-cloud a,
    .tagcloud a,
    .post-footer a,
    .wp-pagenavi a,
    .wp-pagenavi span{
        behavior:url(http://local.entreteaqui/wp-content/themes/theme1654/PIE.php)
        }
    </style>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body class="<%= controller.controller_name %> page page-template page-template-page-home-php">
    <div id="main"><!-- this encompasses the entire Web site -->
      <%= render partial: 'layouts/header' %>
      <%= yield(:slider) -%>
      <div class="primary_content_wrap">
        <div class="container_24 clearfix">
          <%= flash_messages %>

          <%= yield -%>
        </div>
      </div>
      <%= render partial: 'layouts/footer' %>
    </div><!--#main-->
  </body>
</html>
