<!DOCTYPE html>
<html>
<head>
  <title><%=t('global.system_name')%></title>
  <meta charset="UTF-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <base href="<%=default_host_to_email%>" target="_blank">
  <style type="text/css" media="screen">
    body {font-family:Arial, Helvetica, sans-serif; color:#333}#main {font-size:12px; font-style:normal;}
  </style>

  </script>
  <!--[if lt IE 9]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->
</head>
<body class="page page-template page-template-page-home-php">
  <div id="main"><!-- this encompasses the entire Web site -->
    <header id="header">
      <div class="logo">
        <a href="<%=root_path%>" id="logo"><%= image_tag "logosite.png", alt: t('global.slogan'), title: t('global.slogan') %></a>
      </div>
      <div class="fright">
        <div id="widget-header">
        <a href="/fale-conosco">Anuncie aqui</a>
        </div><!--#widget-header-->
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </header>

    <%= yield(:slider) -%>
    <div class="primary_content_wrap">
      <div class="container_24 clearfix"><%= yield -%></div>
    </div>
  </div><!--#main-->
</body>
</html>
