<h1><%=title('Vídeos') %></h1>
<div id="gallery" class="four_columns">
  <ul class="portfolio">
    <% @videos.each_with_index do |video, i| %>
    <li class="<%= 'nomargin' if ((i+1) % 4) == 0 %>">
      <iframe width="210" height="200" src="http://www.youtube.com/embed/<%=video.youtube_code%>" frameborder="0" allowfullscreen></iframe>
      <div class="folio-desc">
        <h3><a href="http://www.youtube.com/watch?v=<%= video.youtube_code %>" target="_blank" rel="bookmark" title="<%= video.title %>"><%= video.title %></a></h3>
        <p class="excerpt"><%= video.singer %></p>
      </div>
    </li>
    <% end -%>
  </ul>
</div>
